@model RideShareMVC.Models.TblUser

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TblUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.GetPassword())
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GetPassword())
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.UserCreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserCreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserUpdateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserUpdateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserGuid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
