@model IEnumerable<RideShareMVC.Models.TblUser>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.UserName), "Index", new { sortOrder = ViewBag.UsernameSortParam })
                @*@Html.DisplayNameFor(model => model.UserName)*@
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.EmailAddress), "Index", new { sortOrder = ViewBag.EmailSortParam })
                @*@Html.DisplayNameFor(model => model.EmailAddress)*@
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Password)
            </th>*@
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.UserCreateDate), "Index", new { sortOrder = ViewBag.CreateDateSortParam })
                @*Html.DisplayNameFor(model => model.UserCreateDate)*@
            </th>
            <th>
            @*<th>
                @Html.DisplayNameFor(model => model.UserUpdateDate)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.UserCreateDate)
            </td>

            @*<td>
            @Html.DisplayFor(modelItem => item.UserUpdateDate)
        </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserGuid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserGuid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserGuid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
